html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

:root {
    --bs-primary: #ff6b35;
    --bs-secondary: #6c757d;
    --bs-success: #28a745;
    --bs-info: #17a2b8;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #343a40;
}

/* Или более конкретно */
body {
    --bs-primary-rgb: 255, 107, 53;
    --bs-primary: #ff6b35;
    --bs-primary-dark: #d45a2b;
}
