{% extends 'base.html.twig' %}

{% block title %}Топ альбомов по оценке пользователей{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mb-4">
            <div class="col-12">
                <h1 class="display-5 fw-bold mb-4">Топ альбомов по оценке пользователей</h1>
                {% include 'album/common/_filters.html.twig' %}
            </div>
        </div>

        <div class="row">
            {% for album in pagination %}
                {% include 'album/common/_album_card.html.twig' with { album: album, loop: loop } %}
            {% else %}
                <div class="col-12">
                    <div class="alert alert-warning text-center">
                        <h4 class="alert-heading">Альбомы не найдены</h4>
                        <p class="mb-0">
                            {% if currentYear or (currentGenre and currentGenre != 'all') %}
                                Попробуйте изменить параметры фильтрации
                            {% else %}
                                Пока нет альбомов в топе. Возможно, они еще не добавлены в систему.
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>

        {{ include('common/_pagination.html.twig') }}
    </div>
{% endblock %}
